@import "style"; 

.banner-container {
    height: 90vh;
}

.banner-content {
    p {
        font-size: 2rem;
        font-family: 'Quicksand-Medium';
        letter-spacing: 2px;
    }
    h1 {
        font-size: 5rem;
        color: #fff;
    }
}

.line {
  position: relative;
}

.line:after {
  content: "";
  width: 40px;
  border-bottom: solid 2px $primary2;
  position: absolute;
  right: 90%;
  bottom: 50%;
}

.box {
    border-radius: 10px;
    padding: 2% 5%;
    box-shadow: 0px 0px 10px 0px #02081952;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: #fff;
    width: 35%;
}
.experience {
    bottom: 2%;
    right: 0%;
}
.music-box {
    top: 45%;
    right: 75%;
    width: fit-content;
}
.icon-box {
    background: #808dad;
    padding: 5% 7%;
    border-radius: 10px;
}

// ===============Music bar animation================
.playing {
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // width: auto;
    // transform: translateX(-50%) translateY(-50%);
  }
  .now.playing .bar {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    width: 5px;
    height: 1px;
    overflow: hidden;
    background: $primary2;
    color: transparent;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .paused.playing .bar {
    animation-iteration-count: 1;
  }
  .bar {
    border-radius: 10px;
  }

  .n1 {
    animation-delay: 0.5s;
  }
  .n2 {
    animation-delay: 0.2s;
  }
  .n3 {
    animation-delay: 1.2s;
  }
  .n4 {
    animation-delay: 0.9s;
  }
  .n5 {
    animation-delay: 2.3s;
  }
  .n6 {
    animation-delay: 1.3s;
  }
  .n7 {
    animation-delay: 3.1s;
  }
  .n8 {
    animation-delay: 1.9s;
  }
  @keyframes pulse {
    0% {
      height: 1px;
      margin-top: 0;
    }
    10% {
      height: 10px;
      margin-top: -10px;
    }
    50% {
      height: 5px;
      margin-top: -5px;
    }
    60% {
      height: 7.5px;
      margin-top: -7.5px;
    }
    80% {
      height: 20px;
      margin-top: -20px;
    }
    100% {
      height: 1px;
      margin-top: 0;
    }
  }

//   =========================================


