@import "style"; 

.banner-container {
    height: 90vh;
}

.banner-content {
    p {
        font-size: 2rem;
        font-family: 'Quicksand-Medium';
        letter-spacing: 2px;
    }
    h1 {
        font-size: 5rem;
        color: #fff;
    }
}

.box {
    border-radius: 10px;
    padding: 2% 5%;
    bottom: 2%;
    right: 0%;
    box-shadow: 0px 0px 20px 3px #0000002e;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: #fff;
}
.icon-box {
    background: #808dad;
    padding: 5% 7%;
    border-radius: 10px;
}