$primary1: #0e1630;
$primary2: #ec4a4b;
$primary3: #808dad;
$primary4: #ffffff;
$grid: #1c243f;

@font-face {
    font-family: "Quicksand-Regular";
    src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "Quicksand-Medium";
    src: url("../fonts/Quicksand-Medium.ttf");
}
@font-face {
    font-family: "Quicksand-Bold";
    src: url("../fonts/Quicksand-Bold.ttf");
}
body {
    background-color: $primary1;
}

.primary2 {
    color: $primary2 !important;
}
.primary3 {
    color: $primary3 !important;
}
